<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Web App Development Demo</title>
</head>
<body>
<xmp>

Web App Development Demo

---

## Laravel

* [**Laravel**](https://laravel.com/) is a free, open-source PHP web framework intended for the development of web applications following the **model–view–controller (MVC)** architectural pattern

* The source code of Laravel is hosted on [**GitHub**](https://github.com/laravel/laravel) and licensed under the terms of **MIT License**

---

## Getting Started

### Pre-requisites

* The following software must have been installed:

  * [**WampServer**](http://www.wampserver.com/en/)
	
  * [**Composer**](https://getcomposer.org/)

### Installing Laravel

* To install Laravel, enter the following Composer command:

```
composer create-project --prefer-dist laravel/laravel demo "5.5.*"
```

* This will create a Laravel project in a folder named `demo`.

### Configuring Web Server

* The web server _document root_ must be configured to point to the `public` directory of your Laravel project.

---

## Database

### Create Database

* Create a database named `local_demo` using any MySQL client such as _PhpMyAdmin_.

* Set the database collation to `utf8_general_ci`.

### Configure Database in Laravel

* In the `.env` file, modify the following lines:

```
DB_DATABASE=local_demo
DB_USERNAME=root
DB_PASSWORD=
``` 

* In the `config/database.php` file, modify the following lines:

```php
'mysql' => [
	// Only modify the 2 lines below...
    'charset' => 'utf8',
    'collation' => 'utf8_general_ci',
],
```

### Create Table

* We shall create a table named `tasks` in the abovementioned database.

* Create a _migration_ as follows:

```
php artisan make:migration create_tasks_table --create=tasks
```

* Open the migration file & write the following:

```php
<?php

use Illuminate\Support\Facades\Schema;
use Illuminate\Database\Schema\Blueprint;
use Illuminate\Database\Migrations\Migration;

class CreateTasksTable extends Migration
{
    /**
     * Run the migrations.
     *
     * @return void
     */
    public function up()
    {
        Schema::create('tasks', function (Blueprint $table) {
            $table->increments('id');
            $table->string('name');
            $table->timestamps();
        });
    }

    /**
     * Reverse the migrations.
     *
     * @return void
     */
    public function down()
    {
        Schema::dropIfExists('tasks');
    }
}

```

* Now, run the migration:

```
php artisan migrate
```

---

## Authentication

* Generate authentication functionalities automatically:

```
php artisan make:auth
```

* This will automatically generate all the code to create a standard user registration & user authentication functionalities in your app.

* Of course, you may modify the generated code to suit your requirements.

* Open `app/Http/Controllers/Auth/LoginController.php` and modify the following:

```php
protected $redirectTo = '/tasks';
```

---

## Model

* Generate a model class named `Task` to represent the `tasks` table:

```
php artisan make:model Task
```

* In most applications, you will add on additional code in the `Task` class. However, in this app, you do not need to add any code.

---

## Controller

### Controller Class

* Generate a controller class named `TaskController`.

```
php artisan make:controller TaskController
```

* Modify the `TaskController` class as follows:

```php
<?php

namespace App\Http\Controllers;

use Illuminate\Http\Request;
use App\Task;

class TaskController extends Controller
{
    public function __construct()
    {
        $this->middleware('auth');
    }
    
    public function index() {
        $tasks = Task::all();
        return view('tasks.index', [
            'tasks' => $tasks,
        ]);
    }

    public function store(Request $request) {
        $task = new Task;
        $task->name = $request->input('name');
        $task->save();

        return redirect()->route('tasks.index');
    }
}
```

### Define Routes to Controller Functions

* In `routes/web.php`, add the following:

```php
Route::get('/tasks', 'TaskController@index')->name('tasks.index');
Route::post('/tasks/store', 'TaskController@store')->name('tasks.store');
```

* This defines URL routes to the corresponding functions in your controller.

---

## Views

* Create a file `resources/views/tasks/index.blade.php` as follows:

```php
@extends('layouts.app')

@section('content')
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Tasks</div>

                <!-- Add Task -->
                <div class="panel-body">
                    <form class="form-horizontal" method="POST" action="{{ route('tasks.store') }}">
                        {{ csrf_field() }}

                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-1">
                                <input id="name" type="text" class="form-control" name="name" value="" required autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-1">
                                <button type="submit" class="btn btn-primary">
                                    Add
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- List Tasks -->
                <div class="panel-body">
                    <div class="col-md-9">
                        <h3>Tasks List</h3>
                        @if(count($tasks) > 0)
                            <ol>
                                @foreach($tasks as $task)
                                    <li>{{ $task->name }}</li>
                                @endforeach
                            </ol>
                        @else
                            <p>No Tasks</p>
                        @endif
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@endsection
```

</xmp> 
<script type="text/javascript" src="https://cdn.rawgit.com/Naereen/StrapDown.js/master/strapdown.min.js?mathjax=y&src=example5&theme=united"></script>
</body>
</html>
